@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core Web App running on AKS</h1>
    <p>This containerised app is running on an Azure Kubernetes Service Cluster</p>
</div>
